# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number =6
print(number)

6

##### Assinging float

In [2]:
number_float = 2.3
print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [3]:
# long version
num1 = 2
num2 = 5.4
result= num1 + num2
print(result)

# shorter version
result +=2
print(result)

7.4
9.4

##### Subtraction

In [4]:
# Long version
result_diff = num2 - num1
print(result_diff)

# shorter version
result_diff-=1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [5]:
# long version
result_mul=num1 * num2
print(result_mul)

result_mul *= 2

print(result_mul)

10.8
21.6

##### Division

In [6]:
# long version
result_div = num2/num1
print(result_div)

# short version
result_div/=2
print(result_div)

2.7
1.35

##### Floor Division

In [7]:
# long version
# the // takes the floor of the quotient

result_floor = num2 // num1
print(result_floor)

# shorter version

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [8]:
# module finds out if we have a remainder at all
# long version
result_mod = num2 % num1
print(result_mod)


# short version
result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [9]:
# long version 5 raised to the power of 2
square = 5 **2
print(square)

# short version
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [10]:
name = "Andrew"
print(name)

Andrew

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print("Full Name: ", name)
print("Full Name: ", name, end = "Wolf")

Full Name:  Andrew
Full Name:  AndrewWolf

##### String Concatenation

In [12]:
# long version
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

# short version
full_name+= "JR"
print(full_name)

John Smith
John SmithJR

##### Type Conversion

In [13]:
# converts data types, asserting the string will be an integer
number ="32"
change_type_num = int(number) +32
print(change_type_num)

64

##### input()

In [14]:
# ask the user for input
# input always give you a string as a result, int() to integer
age= int(input("What is your age?:"))
age=age+1
print(age)

What is your age?:20
21

##### format()

In [15]:
age=input("What is your age?: ")
name="Andrew"
# format syntax: age and name coicide with the two {} 
result_string = "You are {} and you are getting wiser!".format(age,name)
print(result_string)

result_again= f"{age} is a great time in life!!"
print(result_again)

What is your age?: 20
You are 20 and you are getting wiser!
20 is a great time in life!!

##### Old Way (python 2)

In [16]:
age = input("How old are you?")
result_string2="You are %s and you look great for your age"%age

How old are you?20

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [18]:
color = input("What is color of car?:")
year = input("What is year of car?:")
make = input("What is make of car?:")
model = input("What is model of car?:")

print(f"Here are the attributes to your car: color is {color}, year is {year}, make is {make} and model is {model}")

What is color of car?:red
What is year of car?:1972
What is color of car?:Dodge
What is color of car?:Dart
Here are the attributes to your car: colorred, year1972, makeDodge and model Dart

### If Statements

In [20]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
if num2 == num1:
    print("Equal Values")
else:
    print("Not Equal")
    
        
# second example
if num2>= num1:
    print("Num2 is greater")
elif num1 <= num2:
    print("num1 is less")

Not Equal
Num2 is greater

##### 'is' keyword

In [38]:
# looks for object inside of other object
num3 = 55
if num3 is 55:
    print(f"This is the exact number {num3}")

if type(num3) is int:
    print(f"Yes, the same")
else:
    print(f"No, not the same")

This is the exact number 55
Yes, the same

##### 'in' keyword

In [42]:
#  check if the string is in a variable- case sensitive
character_name= "Max Payne"

if "Max" in character_name:
    print("The character who lost everything..")
else:
    print("Never heard of that guy..")

The character who lost everything..

##### 'not in' keyword'

In [46]:
saga_char = "Sonic"

if "A" not in saga_char:
    print("A is NOT present")

A is NOT present

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [52]:
response = input("Do you like peanuts or crackers?")

# case sensitive use .upper() or .lower()
if "p" in response:
    print("It is included")
else:
    print("It is Not included")

Do you like peanuts or crackers?crackers
It is Not included

## Using 'and'/'or' with If Statements

In [62]:
num_4 =15
num_5=3
num_6=10
num_7 = 3

if num_4 /5==num_5 and num_6 -7 ==num_7:
    print("True and True")
    
if num_4 > num_5 or num_6 == num(7):
    print("True Or False")

True and True
True Or False

### Elif Statements

In [67]:
first_name ="Max"
if first_name == "Smith":
    print("The name is Smith")
elif:
    first_name != 'Max':
        print("The name is NOT Max")
else:
    print("The name IS Max")

SyntaxError: invalid syntax (<ipython-input-67-50ecf61b7315>, line 4)

### Else Statements

In [ ]:
# see above

### For Loops

In [78]:
# for keyword, counter, in keyword, condition
# for i in range(10):
# print(i))

# for includes the parameters: start, stop and step
# will automatically start at zero
for i in range(10):
    print(i)

letters = "Andrew Wolf"

# same outcome as below
for letter in letters:
    print(letter)
  
# same as above example    
for letter in range(len(letters)):
    print(letters[letter])

0
1
2
3
4
5
6
7
8
9
A
n
d
r
e
w

W
o
l
f
A
n
d
r
e
w

W
o
l
f

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration Frequenlty Used

In [93]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [92]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [96]:
# example 1
for i in range(5):
    for j in range(5):
        print(f"i = ",i,"j = ",j)
        
#example 2
name = "Andrew Wolf"

for i in range(len(name)):
    for v in range(1,len(name) -1):
        print("i = ",i,"v = ",v)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4
i =  0 v =  1
i =  0 v =  2
i =  0 v =  3
i =  0 v =  4
i =  0 v =  5
i =  0 v =  6
i =  0 v =  7
i =  0 v =  8
i =  0 v =  9
i =  1 v =  1
i =  1 v =  2
i =  1 v =  3
i =  1 v =  4
i =  1 v =  5
i =  1 v =  6
i =  1 v =  7
i =  1 v =  8
i =  1 v =  9
i =  2 v =  1
i =  2 v =  2
i =  2 v =  3
i =  2 v =  4
i =  2 v =  5
i =  2 v =  6
i =  2 v =  7
i =  2 v =  8
i =  2 v =  9
i =  3 v =  1
i =  3 v =  2
i =  3 v =  3
i =  3 v =  4
i =  3 v =  5
i =  3 v =  6
i =  3 v =  7
i =  3 v =  8
i =  3 v =  9
i =  4 v =  1
i =  4 v =  2
i =  4 v =  3
i =  4 v =  4
i =  4 v =  5
i =  4 v =  6
i =  4 v =  7
i =  4 v =  8
i =  4 v =  9
i =  5 v =  1
i =  5 v =  2
i =  5 v =  3
i =  5 v =  4
i =  5 v =  5
i =  5 v =  6
i =  5 v =  7
i =  5 v =  8
i =  5 v =  9
i =  6 v =  1
i =  6 v =  2
i =  6 v =  3
i =  6 v =  4
i =  6 v =  5
i =  6 v =  6
i =  6 v =  7
i =  6 v =  8
i =  6 v =  9
i =  7 v =  1
i =  7 v =  2
i =  7 v =  3
i =  7 v =  4
i =  7 v =  5
i =  7 v =  6
i =  7 v =  7
i =  7 v =  8
i =  7 v =  9
i =  8 v =  1
i =  8 v =  2
i =  8 v =  3
i =  8 v =  4
i =  8 v =  5
i =  8 v =  6
i =  8 v =  7
i =  8 v =  8
i =  8 v =  9
i =  9 v =  1
i =  9 v =  2
i =  9 v =  3
i =  9 v =  4
i =  9 v =  5
i =  9 v =  6
i =  9 v =  7
i =  9 v =  8
i =  9 v =  9
i =  10 v =  1
i =  10 v =  2
i =  10 v =  3
i =  10 v =  4
i =  10 v =  5
i =  10 v =  6
i =  10 v =  7
i =  10 v =  8
i =  10 v =  9

### While Loops

In [97]:
# loops while true, counter at bottom used

num =0
while num <10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [98]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [108]:
# the str function
num = 0

while num < 5:
    print("While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration", str(i))

    num+=1

While Loop Iteration: 0
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration: 1
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration: 2
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration: 3
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration: 4
For Loop Iteration 0
For Loop Iteration 1

### Built-In Functions

##### range()

In [109]:
# class range(stop)
# class range(start, stop[, step])
# Rather than being a function, range is actually an immutable sequence type, as documented in Ranges and Sequence Types — list, tuple, range.

for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [111]:
# check length

char_name = "Max"
length = len(char_name)
print(char_name)
print(length)

Max
3

##### help()

In [112]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [115]:
# check a variable to detemrine its object family
# isinstance(var,type)

if isinstance(4.5, float):
    print(f"This numbert is a float type")

This numbert is a float type

##### abs()

In [117]:
num = -5
new_num = (abs(num))
print(new_num)

5

### Try and Except

In [120]:
# handling errors, use case
# and provide feedback to end user

try:
    number_test = 0
    input_num = int(input("Please guess a number: "))
    
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is " + str(input_num))

except:
    print("That doesn't work- Error Please ensure the number provided is an integer")

Please guess a number: 4
Your number is 4

### Lists

##### Declaring Lists

In [121]:
# dynamic array
empty_list=[]
names = ["Max","Cyndi", "Kathy","Bob","Nate"]
print(names)

['Max', 'Cyndi', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [126]:
# Indexing or Slicing
# [start, stop, step]

# single index
print(names[0])

# start at 1 to the end
print(names[1:])

# print starting at beginning of list until n is reached (n = 2 in this case)- doesn't include the last item (2)
print(names[:2])

# print starting at index 1 going up by 2 in each iteration
print(names[1::2])

# reverse a list and index.  Start at back and pront in reverse order
# when start and stop are not included AND -1 is placed where step occurs the list will reverse
print(names[::-1])

Max
['Cyndi', 'Kathy', 'Bob', 'Nate']
['Max', 'Cyndi']
['Cyndi', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cyndi', 'Max']

##### .append()

In [127]:
# appends at the end of list

names.append("Andrew")
print(names)

['Max', 'Cyndi', 'Kathy', 'Bob', 'Nate', 'Andrew']

##### .insert()

In [128]:
# inserted at a position, in this case index 3

names.insert(3,"Gabby")
print(names)

['Max', 'Cyndi', 'Kathy', 'Gabby', 'Bob', 'Nate', 'Andrew']

##### .pop()

In [130]:
#  pops off the top or from the last item of a list

print(names)
print(names.pop())
print(names)

['Max', 'Cyndi', 'Kathy', 'Gabby', 'Bob', 'Nate']
Nate
['Max', 'Cyndi', 'Kathy', 'Gabby', 'Bob']


##### .remove()

In [136]:
names.append("Bob")
print(names)

# remove all insatnces of Bob
while 'Bob' in names:
    names.remove('Bob')
print(names)

['Max', 'Cyndi', 'Kathy', 'Gabby', 'Bob', 'bob', 'Bob', 'Bob']
['Max', 'Cyndi', 'Kathy', 'Gabby', 'bob']

##### del()

In [137]:
# function
del(names[-1])
print(names)

['Max', 'Cyndi', 'Kathy', 'Gabby']

##### Concatenating Two Lists

In [138]:
list1 = [0,1,2]
list2 = [3,4,5]

large_list = list1 + list2
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [145]:
names = ["Max","Sam","Josh",['Sally', 'Sue', 'Steph']]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Steph']]
Sue

##### Looping Through Lists

In [160]:
# For loop (by index) 
names = ["Max","Sam","Josh",['Sally', 'Sue', 'Steph']]

# Dont' use Andy
for i in range(len(names)):
               print(names[i])
# Use        
for i in names:
    print(i)

# Review               
for i in range(len(names)):
    if i != 3:
        print(names[i])
    if i == 3:
        for j in range(len(names[i])):
            print(names[i][j])

Max
Sam
Josh
['Sally', 'Sue', 'Steph']
Max
Sam
Josh
['Sally', 'Sue', 'Steph']
Max
Sam
Josh
Sally
Sue
Steph

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [159]:


for i in range(10):
    i_product =i**3
    if i_product >1000:
        break
    
    print(i_product)

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [188]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
import math

num = 100
prime_numbers =[]
non_prime_numbers=[]

# prime numbers begin with 2, exclude beginning with 1
for i in range(num):
    if i < 2:
        non_prime_numbers.append(i)
    
    elif i == 2:
        prime_numbers.append(i)
    
#(condition 1, even numbers excluded)
    elif i % 2 == 0:
        non_prime_numbers.append(i)
        
    elif i % 3 == 0:
        non_prime_numbers.append(i)
     
    else:
        prime_numbers.append(i)
        
        
print(f"The following are prime numbers: {prime_numbers}")

# Extra credit?
print(f"The following are non prime numbers: {non_prime_numbers}")

The following are prime numbers: [2, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97]
The following are non prime numbers: [0, 1, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 32, 33, 34, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50, 51, 52, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 98, 99]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [156]:
resulting_age =int(input("What is your age?: "))

if resulting_age < 18:
    print("kids")

elif resulting_age >= 18 and resulting_age <=65:
    print("adults")
    
else:
    print("seniors")

What is your age?: 10
kids